@import url("bootstrap.css");

.workout-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.navbar-brand{
  text-decoration: line-through;
}

.container{
  margin-top: 0%;
}

.card{
  margin-top: 10px;
}